.topbar {
    display: flex;
    height: var(--topbar-size);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: left;
    align-items: center;
    background-color: #27282b;
}

.topbar-item {
    padding-left: 2rem;
}

.topbar-item:first-child {
    cursor: pointer;
    padding-left: 1rem;
}

.topbar a {
    text-decoration: none;
    color: var(--header-primary);
}

.topbar svg {
    fill: #afafaf;
    min-width: 25px;
    opacity: 50%;
    transition: opacity 0.3s ease;
}

.topbar svg:hover {
    opacity: 100%;
}

.topbar-item span {
    color: var(--header-primary);
}
