.sidebar-wrapper {
    width: var(--sidebar-size);
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
}

.sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-item {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.sidebar-item:first-child {
    margin-top: var(--topbar-size);
    width: 100%;
    text-align: center;
}

#avatar {
    width: 6rem;
    border-radius: 50%;
    border: 2px solid #dedede41;
}

.sidebar-link {
    display: flex;
}

.sidebar-link span {
    display: none;
}

.sidebar-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}
