@media (max-width: 1000px) {
    h1 {
        font-size: 2.3em;
        line-height: 1em;
    }
    
    h2 {
        font-size: 1.7em;
        line-height: 1em;
    }
    
    h3 {
        font-size: 1em;
        line-height: 1.5em;
    }
    
    p {
        padding-top: .6em;
        font-size: 1.1em;
        line-height: 1.5em;
    }

    #navbar-icon {
        padding: 0em 0em 0em 1em;
    }

    #section-home-message {
        width: 100%;
        font-size: 10vw;
    }
    
    #section-home-cloud1 {
        height: 100%;
        width: 80%;
        position: absolute;
        top: 3vh;
        left: -11vh;
    }

    #section-home-cloud2 {
        height: 100%;
        width: 70%;
        position: absolute;
        top: 8vh;
        left: 26%;
    }

    #section-home-cloud3 {
        height: 100%;
        width: 40%;
        position: absolute;
        top: 0vh;
        left: 60%;
    }

    /* Fix 1 */
    #section-about-container {
        padding: 0em 0em 0em 2em;
        width: 100%;
    }
    
    #section-about-info {
        width: 34ch;
    }

    .section-infobox {
        padding: 0;
        flex-direction: column;
    }

    .section-infobox-info h2 {
        text-wrap: wrap;
    }

    #infobox-branding {
        padding: 6em 0em 3em 0em;
    }

    #infobox-branding-info {
        padding: 6em 0em 3em 0em;
    }

    #infobox-socialmedia {
        flex-direction: column-reverse;
        padding: 6em 0em 3em 0em;
    }

    #infobox-socialmedia-info {
        padding: 3em 0em 3em 0em;
    }

    #infobox-ads {
        padding: 6em 0em 3em 0em;
    }

    #infobox-ads-info {
        padding: 3em 0em 6em 0em;
    }

    #section-team {
        height: 100%;
        padding: 15% 0% 15% 0%;
    }
    
    #section-team-info {
        width: fit-content;
        padding: 2em 0em 2em 2em;
    }
    
    #section-team-info-intro {
        font-size: 1.2em;
    }
    
    #section-team-info-title {
        padding-top: 5%;
        font-size: 2.3em;
        line-height: 1em;
    }
    
    #section-team-info-info {
        padding-top: 5%;
        font-size: 1.2em;
        line-height: 1.3em;
    }
    
    .section-team-member {
        padding: 3em 0em 5em 0em;
    }
    
    .section-team-image {
        width: 18em;
        height: 18em;
    }
    
    .section-team-name {
        height: 3ch;
        font-size: 2em;
        line-height: 2em;
    }
    
    .section-team-role {
        font-size: 1em;
        line-height: 2em;
    }
    
    #footer {
        height: fit-content;
    }
    
    #footer-links {
        margin: 0em 0em 0em 1em;
        padding: 1em 0em 1em 0em;
        justify-content: center;
    }
    
    .footer-links-link {
        padding: .5em 0em .5em 0em;
    }
    
    #footer-icons {
        margin: 5em 0em 0em 0em;
    }
    
    .footer-icons-icon {
        padding: 1em;
    }

    #navbar-main #navbar-logo {
        display: none;
    }

    #section-about-image {
        display: none;
    }

    .infobox-image {
        }
}
