<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML, CSS. JavaScript">
    <meta name="description" content="My Personal website.">
    <meta name="author" content="Caleb Burke">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caleb Burke</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/content.css">
    <link rel="stylesheet" type="text/css" href="assets/css/harbor.css">
</head>

<body>
    <div class="wrapper-login wrapper-user-box">
        <form class="form-login" action="/create_user" method="POST">
            <h1>Create User</h1>

            <label for="create_user_key">Create User Key</label>
            <input type="text" id="create_user_key" name="create_user_key" placeholder="Paste key here">

            <label for="username">Username</label>
            <input type="text" id="username" class="<%= locals.input_error ? 'input-error' : '' %>" name="username"
                value="<%= locals.username %>" placeholder="Type username here" required>

            <label for="password">Password</label>
            <input type="password" id="password" class="<%= locals.input_error ? 'input-error' : '' %>" name="password"
                placeholder="Type password here" required>

            <label for="retype-password">Retype password</label>
            <input type="password" id="retype-password" class="<%= locals.input_error ? 'input-error' : '' %>"
                name="retype-password" placeholder="Retype password here" required>

            <button class="btn-login">Submit</button>
        </form>
    </div>
</body>

</html>