<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML, CSS. JavaScript">
    <meta name="description" content="My Personal website.">
    <meta name="author" content="Caleb Burke">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caleb Burke</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/content.css">
    <link rel="stylesheet" type="text/css" href="assets/css/harbor.css">
</head>

<body>
    <%- locals.content || "Error loading content" %>
</body>

</html>